// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
    position: absolute;
    display: none;
    top: 50px;
    right: 50px;
    background: white;
    padding: 5px;
    border: 1px solid $lightest-gray;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);    width: 150px;
    z-index: 3;

}

.gear-dropdown li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.gear-dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.gear-dropdown span {
    font-size: 10px;
    font-weight: bold;
    color: $dark-gray;
}

ul.editions {
    padding-bottom: 5px;
    border-bottom: 1px solid $light-gray;
}

ul.help li a {
    color: $blue;
}

li:hover .gear-dropdown {
    display: block;

}



