nav {
    display: flex;
    justify-content: center;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section-nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 2;
}

.section-nav li {
    display: flex;
    flex-shrink: 2;
    flex-wrap: nowrap;
    padding: 5px;
}