<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button><i class="fa fa-bars"></i>
				<span>sections</span></button>
			</li>
			<li id="search-modal-btn">
				<button><i class="fa fa-search"></i>
				<span>search</span></button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="subscribe-now-btn" class="blue">
				<button>Subscribe Now</button>
			</li>
			<li id="log-in-btn" class="blue">
				<button>Log In</button>
			</li>
			<li id="cog-btn">
				<button><i class="fas fa-cog"></i> </button>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>